<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tongji.programming.mapper.PostMapper">
    <select id="getCoursePosts" resultType="org.tongji.programming.pojo.Post">
        select post_id, post_term, post_ccode, post_hw_id, post_week, post_chapter, post_answer_id, post_type,
        post_sno, post_priority, post_tag_01, post_tag_02, post_tag_03, post_tag_04, post_tag_05, post_tag_06,
        post_tag_07, post_tag_08, post_tag_09, post_tag_10, post_title, post_date, post_is_del, post_comment
        <if test="showContent">
            , post_content
        </if>
        from post
        where post_term = #{term}
        and post_ccode = #{courseCode}
        and post_hw_id = -1
        and post_chapter = -1
        and post_week = -1
        <if test="tagNames.length>0">
            and (
            <foreach collection="tagNames" item="tagName" separator="or">
                ${tagName} = '1'
            </foreach>
            )
        </if>
        <if test="!showHidden">
            and post_is_del = '0'
        </if>
        <if test="!withReplies">
            and post_answer_id is null
        </if>
        order by post_priority desc, post_id desc
    </select>

    <select id="getWeekPosts" resultType="org.tongji.programming.pojo.Post">
        select post_id, post_term, post_ccode, post_hw_id, post_week, post_chapter, post_answer_id, post_type,
        post_sno, post_priority, post_tag_01, post_tag_02, post_tag_03, post_tag_04, post_tag_05, post_tag_06,
        post_tag_07, post_tag_08, post_tag_09, post_tag_10, post_title, post_date, post_is_del, post_comment
        <if test="showContent">
            , post_content
        </if>
        from post
        where post_term = #{term}
        and post_ccode = #{courseCode}
        and post_hw_id = -1
        and post_week = #{week}
        <if test="tagNames.length>0">
            and (
            <foreach collection="tagNames" item="tagName" separator="or">
                ${tagName} = '1'
            </foreach>
            )
        </if>
        <if test="!showHidden">
            and post_is_del = '0'
        </if>
        <if test="!withReplies">
            and post_answer_id is null
        </if>
        order by post_priority desc, post_id desc
    </select>

    <select id="getHomeworkPosts" resultType="org.tongji.programming.pojo.Post">
        select post_id, post_term, post_ccode, post_hw_id, post_week, post_chapter, post_answer_id, post_type,
        post_sno, post_priority, post_tag_01, post_tag_02, post_tag_03, post_tag_04, post_tag_05, post_tag_06,
        post_tag_07, post_tag_08, post_tag_09, post_tag_10, post_title, post_date, post_is_del, post_comment
        <if test="showContent">
            , post_content
        </if>
        from post
        where post_term = #{term}
        and post_ccode = #{courseCode}
        and post_hw_id = #{homeworkId}
        <if test="tagNames.length>0">
            and (
            <foreach collection="tagNames" item="tagName" separator="or">
                ${tagName} = '1'
            </foreach>
            )
        </if>
        <if test="!showHidden">
            and post_is_del = '0'
        </if>
        <if test="!withReplies">
            and post_answer_id is null
        </if>
        order by post_priority desc, post_id desc
    </select>

    <select id="getPostsRecursively" resultType="org.tongji.programming.pojo.Post">
        with recursive tree_post as (select *
                                     from post
                                     where post_id = #{id}
                                     union all
                                     select post.*
                                     from post
                                              join tree_post on post.post_answer_id = tree_post.post_id)
        select *
        from tree_post
        order by post_date
    </select>

    <select id="getPostWithoutContent" resultType="org.tongji.programming.pojo.Post">
        select post_id,
               post_term,
               post_ccode,
               post_hw_id,
               post_week,
               post_chapter,
               post_answer_id,
               post_type,
               post_sno,
               post_priority,
               post_tag_01,
               post_tag_02,
               post_tag_03,
               post_tag_04,
               post_tag_05,
               post_tag_06,
               post_tag_07,
               post_tag_08,
               post_tag_09,
               post_tag_10,
               post_date,
               post_is_del,
               post_comment
        from post
        where post_id = #{postId}
        limit 1;
    </select>
</mapper>
