<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tongji.programming.mapper.LoggerMapper">
    <update id="logLogin" statementType="CALLABLE">
        {call proc_writelog_login(#{stuNo,mode=IN}, #{ipAddr,mode=IN}, #{userAgent,mode=IN}, #{comment,mode=IN})}
    </update>
    <update id="logPost" statementType="CALLABLE">
        {call proc_writelog_post(#{postNo,mode=IN}, #{stuNo,mode=IN}, #{ipAddr,mode=IN}, #{comment,mode=IN})}
    </update>
</mapper>
